* {
  margin: 0;
  padding: 0;
  font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: #ffffff;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b1b1;
}
.myntra_home {
  height: 45px;
}
.logo_container {
  margin-left: 4%;
}
.action_bar {
  margin-right: 4%;
}
.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}
.nav_bar a {
  font-size: 14px;
  letter-spacing: .3px;
  color: #242549;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
  border-bottom: 4px solid #e75c9f;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}

.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}
.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;

  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}
.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}




header h1 {
  margin: 0;
  font-size: 2rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.live-stream, .previous-videos {
  background-color: #FFEFEF; /* Pastel pink */
  padding: 1rem;
  margin-bottom: 2rem;
  display: block;
  justify-content: center;
}
.live-stream iframe{
  justify-content: center;
  display: flex;
  margin-left: 250px;
  image-orientation: flip;
}

.live-stream h2, .previous-videos h2 {
  margin-top: 0;
  display: flex;
 
}
.previous-videos iframe p{
  margin-left: 30px;
}
.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.video {
  width: calc(50% - 0.5rem); /* Two videos per row with a little gap */
  margin-bottom: 1rem;
}

.video iframe {
  width: 90%;
  height:90%; /* Responsive video size */
}

footer {
  background-color: #89bdd3; /* Matching header color */
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}